# === Maven ===
/SpringBootDataSharingDemo/target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/timing.properties
/logs/
*.log
*.out

# === NetBeans ===
/nbproject/private/
/build/
/dist/
/nbbuild/
/nbdist/
/.nb-gradle/
/.netbeans/
/.netbeans_hidden/

# === IDE / OS ===
*.class
*.iml
*.ipr
*.iws
*.swp
*.swo
*.DS_Store
*.idea/
*.vscode/
*.bak
*.tmp
*.orig
Thumbs.db

# === Java ===
*.class
*.jar
*.war
*.ear

# === Spring Boot DevTools ===
.spring-boot-devtools.properties

# === Database ===
*.mv.db
*.h2.db

# === System Files ===
*.~lock.*
